@model List<Event>
@{
    string cssType = "col-md-8 col-sm-8";
}

<section class="event-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>upcoming events</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellente sque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="event-menu">
                    <button data-filter="*" class="active"> All</button>
                    <button data-filter=".music">Music Party</button>
                    <button data-filter=".birthday">Birthday Party</button>
                    <button data-filter=".conference">Conference</button>
                    <button data-filter=".wedding">Wedding Party</button>
                    <button data-filter=".photography">Photography Party</button>
                </div>
            </div>
        </div>
        <div class="row event-items">
            @foreach (Event item in Model)
            {
                if (item.TypeImage == 1)
                {
                    cssType = "col-md-8 col-sm-8";
                }
                else
                {
                    cssType = "col-md-4 small col-sm-4";
                }


               
                <div class="single-event @cssType col-xs-12">
                    <div class="single-event-item">
                    <img src="@item.ImagePath" alt="">
                    <div class="event-text">
                        <h3 class="event-title">@item.</h3>
                        <h3 class="author-name">By : @item.Author</h3>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
            }
           

        </div>
    </div>
</section>
<!-- Event Area End -->
<!-- Client Area Start -->
<div class="client-area">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/1.png" alt="" class="p-img">
                            <img src="img/client/1-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/2.png" alt="" class="p-img">
                            <img src="img/client/2-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/3.png" alt="" class="p-img">
                            <img src="img/client/3-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/4.png" alt="" class="p-img">
                            <img src="img/client/4-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/5.png" alt="" class="p-img">
                            <img src="img/client/5-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->
<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form action="#" id="mc-form" class="mc-form fix">
                            <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>